/* start header */


header {
    background-color: #D5906E85;
    padding: 26px 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1111;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerul {
    display: flex;
    width: 30%;
    gap: 60px;
}

.basket {
    display: flex;
    gap: 16px;
}

.signin {
    font-size: 16px;
    color: white;
    font-family: 'Inter';
}

.bgbasket {
    color: white;
}

.headerli {
    color: white;
    font-size: 18px;
    font-family: 'Inter';

}
.headerli:hover {
    transition: 2s;
    color: blue;
    
}

.textli {
    color: #D5906E;
}

/* header end */
/* secion1 start */

.secion1 {
    background-image: url("../image/page1/mtavaridoqi1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 720px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 283px 0 188px 0;
}

.secion1text {
    width: 40%;
    color: white;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 72px;
    font-family: 'Inter';
}

h2 {
    color: white;
    font-size: 40px;
    font-family: 'Inter';

}

.secionbutton {
    background: none;
    border: 2px solid #D5906E;
    border-radius: 10px;
    width: 311px;
    height: 56px;
    color: white;
    font-family: 'Inter';
}
/* secion1 end */
/* secion2 start */
.secion2 {
    padding: 160px 0;
    width: 100%;
}
.articles-secion {
    max-width: 940px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    

}
.article {
    width: 190px;
}



.article_img {
border-radius: 70px;
width: 190px;
height: 160px;
margin-bottom: 24px;
}
.article_text {
    text-align: center;
    font-size: 18px;
    color: #B53B1B;
}













































@media (max-width: 1500px) {

    .container {
        max-width: 1140px;
    }
}

@media (max-width: 1200px) {

    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {

    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px) {

    .container {
        max-width: 560px;
    }
}

@media (max-width: 576px) {

    .container {
        max-width: 100%;
    }
}
