.maincontainer {
    max-width: 1920px;
    width: 100%;
    margin-inline: auto;
}

/* start header */


header {
    max-width: inherit;
    width: inherit;
    background-color: #D5906E85;
    display: flex;
    position: fixed;
    padding: 37px 240px;
    z-index: 1;

}

.container {

    width: 100%;
    margin: auto;

}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerul {
    display: flex;
    width: 30%;
    gap: 60px;
}

.basket {
    display: flex;
    gap: 16px;
}

.signin {
    font-size: 16px;
    color: white;
    font-family: 'Inter';
}

.bgbasket {
    color: white;
}

.headerli {
    color: white;
    font-size: 18px;
    font-family: 'Inter';

}

.headerli:hover {
    transition: 2s;
    color: blue;

}

.textli {
    color: #D5906E;
}

/* header end */
/* secion1 start */

.secion1 {
    background-image: url("../image/page1/mtavaridoqi1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 720px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    padding: 283px 0 188px 0;
}

.secion1text {
    width: 40%;
    color: white;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 72px;
    font-family: 'Inter';
    animation-name: blank;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes blank {
    0% {
        opacity: 1;

    }

    50% {
        opacity: 0.5;
        color: #8ed112;
        scale: 1.1;
    }

    100% {
        opacity: 1;
    }
}

h2 {
    color: white;
    font-size: 40px;
    font-family: 'Inter';
    animation-name: change;
    animation-duration: 4s;
    /* animation-iteration-count: infinite; */

}

@keyframes change {
    0% {
        color: blue;
    }

    50% {
        scale: 1.2;
    }

    100% {
        color: white;
    }
}


.secionbutton {
    background: none;
    border: 2px solid #D5906E;
    border-radius: 10px;
    width: 311px;
    height: 56px;
    color: white;
    font-family: 'Inter';
}

/* secion1 end */
/* secion2 start */
.secion2 {
    padding: 160px 0;
    width: 100%;
}

.articles-secion {
    /* max-width: 940px; */
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 60px;


}

.article {
    width: 190px;
}



.article_img {
    border-radius: 70px;
    width: 190px;
    height: 160px;
    margin-bottom: 24px;
}

.article_text {
    text-align: center;
    font-size: 18px;
    color: #B53B1B;
    font-family: 'Inter';
}

/* secion2 end */
/* secion3 start */
.secion3 {
    padding: 96px 0;
    width: 100%;
    background-color: #402101;
}

.gallery_title {
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Inter';
}

.gallery_secion {
    max-width: 1190px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

/* secion3 end */
/* secion4 start */
.productstitle {
    color: #402101;
    font-size: 40px;
    text-align: center;
    margin-top: 160px;
    margin-bottom: 40px;
    font-family: 'Inter';
}

.productstext {
    position: absolute;
    border: 1px solid black;
    width: 88px;
    height: 48px;
    background-color: white;
    border-radius: 20px;
    padding: 15px 17px;
    top: 75%;
    left: 5%;
    transform: translate(75% 5%);
    color: #B53B1B;
    font-size: 16px;

}

.productsimg {
    position: relative;
    width: 100%;
    height: 100%;
}

.productsdiv {

    display: flex;
    position: relative;
    width: 20%;


}

.productscontainet {
    width: 85%;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;

}

.secion4 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;


}

.smallimg {

    width: 44px;
    height: 44px;
}

/* secion4 end */
/* secion5 start */
.secion5 {
    background-image: url("../image/page1/section.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    gap: 75px;
}


.Subscribetitle {
    color: white;
    font-size: 40px;
}

.maill {
    /* border: 2px solid black; */
    background: none;
    height: 56px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

}

.mailltitle {
    width: 320px;
    background: none;
    padding: 18px 19px;
    border: 1px solid white;
    border-radius: 10px 0 0 10px;
    color: white;

}

.submit {
    height: 56px;
    border: none;
    border-radius: 0 10px 10px 0;
    font-size: 18px;
}

/* secion5 end */
/* secion6 start */

.Artistrytitle {
    text-align: center;
    margin-top: 161px;
    margin-bottom: 40px;
    font-size: 36px;
    color: #402101;
    font-family: 'Inter';

}

.textgood {
    width: 30%;
    height: 129px;
    background-color: #D5906E4D;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: 'Inter';
}

.textdiv {
    display: flex;
    justify-content: space-between;

    width: 85%;
    margin-left: 100px;
}

h6 {
    color: #B53B1B;
    font-size: 24px;
}

.helpcentertitle {
    text-align: center;
    color: #402101;
    font-size: 24px;
    margin-top: 112px;
    margin-bottom: 20px;
    font-family: 'Inter';
}

.helpbutton {
    width: 30%;
    height: 56px;
    background-color: #B53B1B;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    font-family: 'Inter';
    margin-left: 35%;

}

/* secion6 end */
/* footer start */
footer {
    width: 100%;
    height: 240px;
    background-color: #402101;
    display: flex;
    justify-content: space-between;
    padding: 32px 325px;
    margin-top: 160px;

}

.footerimg {
    width: 234px;
    height: 44px;
}




.footerdiv2 {

    display: flex;
    flex-direction: column;
    gap: 30px;
}

h4 {
    color: white;
    font-size: 18px;
    font-family: 'Inter';
}

.footerdivtext1 {
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Rubik';
}

.between {
    margin-top: 16px;
    margin-bottom: 8px;
}

.mail {
    color: #FFFFFF;
    margin-top: 29px;
    margin-bottom: 34px;
}

.tel {
    color: #FFFFFF;
}

.maps {
    color: #FFFFFF;
}

.footericon {
    display: flex;
    justify-content: space-between;
    gap: 27px;
    margin-top: 43px;
}

.footer_bg {
    width: 10px;
    height: 10px;
    margin-right: 16px;
}

/* footer end */


/* page 2  */

.secion1_page2 {
    background-image: url("../image/page2/mtavaridoqi.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 560px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 72px;

    padding: 283px 0 188px 0;
}

.mane_text2 {
    text-align: center;
}

.page2_main {
    margin-inline: auto;
    margin-top: 160px;
    width: 55%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_bar {
    display: flex;
    justify-content: space-between;
}

.search_title {
    font-size: 18px;
    color: #402101;
}

.search_input {
    width: 400px;
    height: 56px;
    border-radius: 10px 0 0 10px;
}

::placeholder {
    font-family: 'Inter';
    font-size: 16px;
    color: rgba(64, 33, 1, 0.52);
}

.search_button {
    width: 251px;
    height: 56px;
    background-color: #402101;
    border-radius: 0 10px 10px 0;
    border: none;
    font-family: 'Inter';
    font-size: 18px;
    color: #FFFFFF;
}

/* end of search  */

/* start product cards  */
.page2_title {
    margin-inline: auto;
    margin-top: 78px;
    margin-bottom: 90px;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.all_category {
    font-family: 'Inter';
    font-size: 48px;
    color: #402101;
}

.page2_div {
    margin-inline: auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 45px;
}

.card {
    background-color: #fffefd;
    border-radius: 5px;
}

.price_div {
    display: flex;
    justify-content: space-between;
}

.page2_name {
    margin: 24px 0 28px 0;
    font-family: 'Inter';
    font-size: 16px;
    color: #B53B1B;
}

.price {
    font-family: 'Inter';
    font-size: 24px;
    color: #402101;
}

/* page3 */
.secion1_page3 {
    background-image: url("../image/page3/mane.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 720px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 72px;

    /* padding: 283px 0 188px 0; */
}

.touch_page3 {
    box-sizing: border-box;

    position: absolute;
    width: 500px;
    height: 400px;
    left: 240px;
    top: 208px;
    padding: 24px 30px;
    background: rgba(64, 33, 1, 0.73);
    border: 1px solid #FFFFFF;
    box-shadow: -1px -1px 4px #FFFFFF;
    border-radius: 10px;
}

.page3_title {

    font-size: 40px;
    color: white;
    font-family: 'Inter';
}


.thirdsecion {
    width: 80%;
    /* height: 408px; */
    background-color: #D5906E4D;
    margin-inline: auto;
    margin-top: 160px;
}


.page3_search {
    padding: 30px;
    /* margin-left: 80px; */
    margin-top: 105px;
    width: 60%;
    background: rgba(64, 33, 1, 0.73);
    border: 1px solid #FFFFFF;
    box-shadow: -1px -1px 4px #FFFFFF;
    border-radius: 10px;
    
}

.effect {
    background: rgba(64, 33, 1, 0.73);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    height: 40px;
}

.feedback_title {
    font-family: 'Inter';
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.page3_search_inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.name,.feedback_mail {
    width: 45%;
}

.message {
    width: 100%;
    height: 96px;
}

::placeholder {
    margin-top: 0;
    padding: 10px;
    font-family: 'Inter';
    font-size: 14px;
    color: rgba(255, 255, 255, 0.76);
}

.submit_btn {
    width: 147px;
    height: 56px;
    border: none;
    background: #D5906E;
    border-radius: 10px;
    font-family: 'Inter';
    font-size: 16px;
    color: #FFFFFF;
}

.contacttitle {
    text-align: center;
    color: #402101;
    font-size: 40px;
    font-family: 'Inter';
    margin-bottom: 40px;
}

h5 {
    font-size: 18px;
    color: #B53B1B;
    font-family: 'Inter';

}

.third_titlesmall {
    font-size: 16px;
    color: #623932;
    font-family: 'Inter';
}

.contactdiv {
    /* margin-top: 88px; */
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.thirdsmalldiv {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.thirdmap {
    width: 815px;
    height: 320px;
}

.mainthirdcontainer {
    display: flex;
    justify-content: space-between;
}